body{
	margin: 0;
	padding: 0;
	background-color: #ade39f;
}

.header{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-family: 'Plaster';
	color: black;
	background-image: url(nature.jpg);
	background-repeat: none;
	align-items: center;
}

.header > h1{
	font-family: 'Anton', sans-serif;
	color : white;
}

.navbar{
	text-align: center;
	background-color: #6c996c;
	width: 85%;
	margin: auto;
  padding: 1%;
}

.navbar > a{
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
	text-decoration: none;
	font-family: 'Anton', cursive;
	background-color: #6c996c;
	border: none;
  cursor: pointer;
  color: black;
}

.navbar a:hover {
	text-shadow: 3px 3px gray;
  	padding-left: 20px;
  	padding-right: 35px;
  	padding-left: 35px;
	transform: scale(1.2);
	background-color: #c3c5c9;
	transition:0.7s;
}

#contact{
	margin: 10%;
	display: flex;
	
}

.contactperson{
	padding: 2%;
	margin: auto;
	border: solid;
	border-color: white;
	width: 30%;
	text-align: center;
}

.contactperson img{
	border-radius: 100%;
	
}


@media only screen and (max-width: 414px) {
	.navbar a {
	  padding: 10px;
	}
	#contact{
		flex-direction: column;
	}
	.contactperson{
		width: 90%;
		
	}
	#personiY{
		margin-top: 5%;
	}

}