body{
	margin: 0;
	padding: 0;
	background-color: #ade39f;
}

.header{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-family: 'Plaster';
	color: black;
	background-image: url(nature.jpg);
	background-repeat: none;
	align-items: center;
}

.header > h1{
	font-family: 'Anton', sans-serif;
	color : white;
}

.navbar{
	text-align: center;
	background-color: #6c996c;
	width: 85%;
	margin: auto;
  padding: 1%;
  
}

.navbar > a{
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
	text-decoration: none;
	font-family: 'Anton', cursive;
	background-color: #6c996c;
	border: none;
  cursor: pointer;
  color: black;
}

.navbar a:hover {
	text-shadow: 3px 3px gray;
  padding-left: 20px;
  padding-right: 35px;
  padding-left: 35px;
	transform: scale(1.2);
	background-color: #c3c5c9;
	transition:0.7s;
}
#content {
	width: 65%;
	padding: 30px;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	min-height: 100vh; 
	margin: 0 auto;
	background-color: #d9dbe0;

}

@media only screen and (max-width: 414px) {
  .navbar a {
    padding: 10px;
  }

  .slideshow-container {
    width: 95%;
  }
}


* {box-sizing:border-box}


.slideshow-container {
  max-width: 900px;
  
  position: relative;
  margin: auto;
  margin-top: 5%;
}

.mySlides {
  display: none;
 
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
#info{
  text-align: center;
  font-family: 'Anton', cursive;
}

.pershkrimi{
	text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}